<head>
	<title>Tomada Verde</title>
	<meta http-equiv="refresh" content="120">
</head>

{% load static %}

<br>

<center><p>
	<img src="{% static 'main/images/gp.png' %}" width="68" height="100" align="center">
	<font size="18" color="green">Tomada verde</font>
</p></center><br><br>

<center>
	<font size="6">Economia: R${{ con_val }} &emsp; Bateria: {{ bat_val }}%</font>

</center><br>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<center>
	<div>
		{{ chart.as_html }}
	</div>
</center>

<br>

<center>
	<img src="{% static 'main/images/EASY.jpg' %}" width="169" height="75" middle>
	<img src="{% static 'main/images/logo-ic.png' %}" width="75" height="75" middle>
	<img src="{% static 'main/images/logo-ufal.jpg' %}" width="75" height="75" middle>
</center>