<head>
	<title>Tomada Verde</title>
	<meta http-equiv="refresh" content="6000">
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<br>

<center><p>
	<img src="{% static 'main/images/gp.png' %}" width="68" height="100" align="center">
	<font size="18" color="green">Tomada verde</font>
</p></center><br>

{% if things_list %}
    <ul>
    {% for thing in things_list %}
        <li><a href="{% url 'main:detail' thing.id %}">{{ thing.thing_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No things are available.</p>
{% endif %}

<br>

<center>
	<img src="{% static 'main/images/EASY.jpg' %}" width="169" height="75" middle>
	<img src="{% static 'main/images/logo-ic.png' %}" width="75" height="75" middle>
	<img src="{% static 'main/images/logo-ufal.jpg' %}" width="75" height="75" middle>
</center>